html, body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  background-color: #efefef;
}

.App {
}

.block-wrapper {
  padding: 24px 0;
  max=width: 960px;
  position: absolute;
  left: 50%;
  margin-left: -400px;
}

.block {
  padding: 12px;
  width: 300px;
  background-color: white;
  border: 2px solid #ddd;
}

.current-block {
  z-index: 9;
  position: absolute;
  left: 240px;
  box-shadow: -6px 6px 0 #ddd;
}

.previous-block, .next-block {
  margin: 108px 0;
  height: 120px;
  width: 120px;
  z-index: 1;
  box-shadow: -2px 2px 0 #ddd;
}

.previous-block {
  background-image: linear-gradient(315deg, #efefef, white);
}

.p3, .p2, .p1, .n1, .n2, .n3 {
  position: absolute;
}

.p1 {
  left: 60px;
}

.p2 {
  left: -120px;
  opacity: 0.75;
}

.p3 {
  left: -300px;
  opacity: 0.5;
}

.next-block {
  background-image: linear-gradient(45deg, white, #efefef);
}

.n1 {
  left: 596px;
}

.n2 {
  left: 776px;
  opacity: 0.75;
}

.n3 {
  left: 956px;
  opacity: 0.5;
}

#chain {
  position: fixed;
  left: 0;
  right: 0;
  top: 200px;
}

.block-number {
  text-align: right;
  font-weight: bold;
  color: #777;
  font-family: monospace;
  font-size: 15px;
}

.block-number::before {
  content: "# ";
  color: #bbb;
  font-size: 14px;
  font-family: sans-serif;
}
