html, body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  background-color: #efefef;
}

input {
  font-size: 12px;
  color: #444;
  padding: 6px 8px;
  border: 2px solid #5A83AC;
  margin: 6px;
}

button {
  border-radius: 0;
  font-size: 12px;
  outline: none;
  padding: 6px 8px;
  color: #5A83AC;
  border: 2px solid #5A83AC;
  background-color: white;
  box-shadow: -3px 3px 0 #A5DEB6;
  margin: 6px;
  transition: 300ms;
}

button:hover {
  cursor: pointer;
  background-color: #ECECFE;
  color: #444;
}

button:active {
  box-shadow: -1px 1px 0 #A5DEB6;
}

.App {
}

.error-wrapper {
  text-align: center;
}

.error-title {
  margin: 24px 0 12px;
  font-weight: bold;
}

.error-suggestion {
  font-style: italic;
  line-height: 1.6;
}

.block-wrapper {
  padding: 24px 0;
  max=width: 960px;
  position: absolute;
  left: 50%;
  margin-left: -400px;
}

.block {
  padding: 12px;
  width: 300px;
  background-color: white;
  border: 2px solid #ddd;
}

.current-block {
  z-index: 9;
  position: absolute;
  left: 240px;
  min-height: 120px;
  box-shadow: -6px 6px 0 #ddd;
}

.previous-block, .next-block {
  margin: 0;
  height: 120px;
  width: 120px;
  z-index: 1;
  box-shadow: -3px 3px 0 #ddd;
  transition: 500ms;
}

.previous-block:hover, .next-block:hover {
  box-shadow: -6px 6px 0 #A5DEB6;
  border: 2px solid #5A83AC;
  cursor: pointer;
}

.previous-block {
  background-image: linear-gradient(315deg, #efefef, white);
}

.p3, .p2, .p1, .n1, .n2, .n3 {
  position: absolute;
}

.p1 {
  left: 60px;
}

.p2 {
  left: -120px;
  opacity: 0.75;
}

.p3 {
  left: -300px;
  opacity: 0.5;
}

.next-block {
  background-image: linear-gradient(45deg, white, #efefef);
}

.n1 {
  left: 596px;
}

.n2 {
  left: 776px;
  opacity: 0.75;
}

.n3 {
  left: 956px;
  opacity: 0.5;
}

#chain {
  position: absolute;
  left: 0;
  right: 0;
  top: 128px;
}

.block-number {
  text-align: right;
  font-weight: bold;
  color: #777;
  font-family: monospace;
  font-size: 15px;
  margin-bottom: 12px;
}

.block-number::before {
  content: "block #";
  color: #bbb;
  font-size: 13px;
}

.data-field {
  margin-top: 4px;
}

.title {
  text-transform: uppercase;
  color: #777;
  font-size: 13px;
}

.value {
  color: #444;
  font-size: 15px;
  font-weight: bold;
}

.parent-hash, .current-hash {
  transition: 500ms;
}

.App:hover .parent-hash {
  color: #F7750D;
}

.App:hover .current-hash {
  color: #E12A19;
}

.tx-title {
  text-transform: uppercase;
  color: #777;
  font-size: 13px;
}

.tx {
  position: relative;
  padding: 12px;
  background-color: #f2f2f2;
  margin-top: 12px;
}

.tx-index {
  position: absolute;
  top: 0;
  right: 0;
  margin: 4px;
  font-size: 14px;
  font-weight: bold;
  color: #bbb;
  font-family: monospace;
}
