html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  background-color: #efefef;
}

input {
  font-size: 12px;
  color: #444;
  padding: 6px 8px;
  border: 2px solid #5a83ac;
  margin: 6px;
}

button {
  border-radius: 0;
  font-size: 12px;
  outline: none;
  padding: 6px 8px;
  color: #5a83ac;
  border: 2px solid #5a83ac;
  background-color: white;
  box-shadow: -3px 3px 0 #a5deb6;
  margin: 6px;
  transition: 300ms;
}

button:hover {
  cursor: pointer;
  background-color: #eef2f6;
  color: #444;
}

button:active {
  box-shadow: -1px 1px 0 #a5deb6;
}

.App {
}

.error-wrapper {
  max-width: 480px;
  display: flex;
  flex-direction: column;
  margin: 48px auto;
  text-align: center;
  border: 2px solid #ff4400;
  background-color: white;
  padding: 24px;
  z-index: 9;
}

.error-wrapper:hover {
  cursor: pointer;
}

.error-title {
  font-weight: bold;
  margin-bottom: 6px;
}

.error-suggestion {
  font-style: italic;
}

.error-suggestion a {
  color: #ff4400;
}

.form {
  margin: 12px 12px 0;
}

.block-wrapper {
  padding: 24px 0;
  max-width: 960px;
  position: absolute;
  left: 50%;
  margin-left: -400px;
}

.block {
  padding: 12px;
  width: 300px;
  background-color: white;
  border: 2px solid #ddd;
}

.current-block {
  z-index: -1;
  position: absolute;
  left: 240px;
  min-height: 120px;
  box-shadow: -6px 6px 0 #ddd;
}

.previous-block,
.next-block {
  margin: 0;
  height: 120px;
  width: 120px;
  z-index: -1;
  box-shadow: -3px 3px 0 #ddd;
  transition: 500ms;
}

.previous-block:hover,
.next-block:hover {
  box-shadow: -6px 6px 0 #a5deb6;
  border: 2px solid #5a83ac;
  cursor: pointer;
}

.previous-block {
  background-image: linear-gradient(315deg, #efefef, white);
}

.p3,
.p2,
.p1,
.n1,
.n2,
.n3 {
  position: absolute;
}

.p1 {
  left: 60px;
}

.p2 {
  left: -120px;
  opacity: 0.75;
}

.p3 {
  left: -300px;
  opacity: 0.5;
}

.next-block {
  background-image: linear-gradient(45deg, white, #efefef);
}

.n1 {
  left: 596px;
}

.n2 {
  left: 776px;
  opacity: 0.75;
}

.n3 {
  left: 956px;
  opacity: 0.5;
}

#chain {
  position: absolute;
  left: 0;
  right: 0;
  top: 148px;
  z-index: -2;
}

.block-number {
  text-align: right;
  font-weight: bold;
  color: #777;
  font-family: monospace;
  font-size: 15px;
  margin-bottom: 4px;
}

.block-number::before {
  content: 'block #';
  color: #bbb;
  font-size: 13px;
}

.data-field {
  margin-top: 4px;
}

.title {
  text-transform: uppercase;
  color: #777;
  font-size: 13px;
}

.value {
  color: #444;
  font-size: 15px;
  font-weight: bold;
}

.address > span {
  position: relative;
  top: 4px;
  margin: 0 4px;
}

.parent-hash,
.hash {
  transition: 500ms;
}

.App:hover .p3 .hash {
  color: #ff4400;
}

.App:hover .p2 .parent-hash {
  color: #ff4400;
}

.App:hover .p2 .hash {
  color: #ffbb11;
}

.App:hover .p1 .parent-hash {
  color: #ffbb11;
}

.App:hover .p1 .hash {
  color: #55aa00;
}

.App:hover .current-block .parent-hash {
  color: #55aa00;
}

.App:hover .current-block .hash {
  color: #000055;
}

.App:hover .n1 .parent-hash {
  color: #000055;
}

.App:hover .n1 .hash {
  color: #310062;
}

.App:hover .n2 .parent-hash {
  color: #310062;
}

.App:hover .n2 .hash {
  color: #4b0082;
}

.App:hover .n3 .parent-hash {
  color: #4b0082;
}

.tx-title {
  text-transform: uppercase;
  color: #777;
  font-size: 13px;
}

.tx {
  position: relative;
  padding: 12px;
  background-color: #f2f2f2;
  margin-top: 12px;
}

.tx-index {
  position: absolute;
  top: 0;
  right: 0;
  margin: 4px;
  font-size: 14px;
  font-weight: bold;
  color: #bbb;
  font-family: monospace;
}
